kaoto/summary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/orderSummary"
           xmlns="http://example.com/orderSummary"
           elementFormDefault="qualified">

  <xs:element name="OrderSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ItemName" type="xs:string"/>
        <xs:element name="Quantity" type="xs:int"/>
        <xs:element name="ItemSummary" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
